<IfModule mod_rewrite.c> 
    <IfModule mod_negotiation.c> 
        Opciones -MultiViews 
    </IfModule> 

    RewriteEngine On 

    # Redirigir barras finales si no es una carpeta ... 
    RewriteCond% {REQUEST_FILENAME}! 
    -D RewriteRule ^ (. *) / $ / $ 1 [L, R = 301] 

    # Controlar el controlador frontal ... 
    RewriteCond% {REQUEST_FILENAME}! 
    -D RewriteCond% {REQUEST_FILENAME}! 
    -F RewriteRule ^ index.php [L] 

    # 
    Controlar el encabezado de autorización RewriteC
</IfModule>
